//------------------------------------FONTS------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&display=swap');
//Roboto - p
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,600&family=Roboto&display=swap');
//Roboto - botones
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

$font-parrafo: 'Roboto', sans-serif;
$font-titulo: 'Chakra Petch', sans-serif;
$font-botones: 'Roboto', sans-serif;
//-----------------------------------------------------------------------------------

//------------------------------------COLORES----------------------------------------
$principal: #fcc602;
$secundario: #0d2343;
$terciario: #939393;
$hf: #1d1e33;
$body: #242640;
$hover: #242640;
//-----------------------------------------------------------------------------------
